#app {
    max-width: 800px;
    margin: 25px auto 25px;
    background-color: white;
    padding: 35px 40px;
    min-height: 85%;
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.55);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0;
}

.node {
    margin: 5px 0;
    position: relative;
}

.node > .value:focus {
    outline: none;
}

.bullet {
    position: absolute;
    height: 20px;
    width: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bullet:hover {
    cursor: pointer;
}

.value {
    margin-left: 20px;
    min-width: 50%;
    max-width: 100%;
    display: inline-block;
    z-index: 1;
}

.children {
    margin-left: 50px;
}

.hidden {
    display: none;
}

.bullet-clicked {
	background-color: orange;
	opacity: 0.5;
}

footer {
    font-family: Helvetica;
    text-align: center;
    font-size: 10px;
}

.ctrlBar {
    position: absolute;
    top: 15px;

    width: 90px;
    background-color: #ccc;
    z-index: 10;
    border-radius: 5px;
    border-width: 0.5px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ctrlBar > ul {
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    font-size: 10px;
}

.ctrlBar li:hover {
    cursor: pointer;
}

.highlighted {
    background-color: #f5f5f5;
}

.completed > .value{
	text-decoration: line-through;
}

