#app {
	max-width: 700px;
	margin: 0 auto;
	background-color: white;
	padding: 50px;
}

html, body{
	width: 100%;
	min-height: 100%;
	background-color: #efefef;
}

.node {
	background-color: #f1f1f1;
	margin: 10px 0;
}

.node:focus {
	outline: none;
}